#let(table = [
    "title": "Authors",
    "key": "blog.authors"
])

#var(columns = "64px 1fr")
#var(actions = 0)
#if(UserHasPermission("blog.author.links.list")):
    #(columns += " 64px")
    #(actions += 1)
#endif
#if((table.edit ?? true) && UserHasPermission(table.key + ".update")):
    #(columns += " 64px")
    #(actions += 1)
#endif
#if((table.delete ?? true) && UserHasPermission(table.key + ".delete")):
    #(columns += " 64px")
    #(actions += 1)
#endif

#define(css):
tr {
    grid-template-columns: 1fr 1fr;
}
@media (min-width: 600px) {
    tr {
        grid-template-columns: #(columns);
    }
}
#enddefine

#define(th):
    #var(link = nil)
    <th class="td:center td:compact:hidden">Image</th>
    <th class="td:left m:h:s td:compact:col2">
        #(link = ["key": "name", "default": true])
        #inline("Admin/SortLink")
    </th>

    #if(UserHasPermission("blog.author.links.list")):
    <th class="td:center td:compact:hidden">Links</th>
    #endif

    #if((table.edit ?? true) && UserHasPermission(table.key + ".update")):
    <th class="td:center td:compact:hidden">Edit</th>
    #endif
    
    #if((table.delete ?? true) && UserHasPermission(table.key + ".delete")):
    <th class="td:center td:compact:hidden">Drop</th>
    #endif

#enddefine

#define(tr):
    #for(item in list.items):
    <tr>
        <td class="td:center td:compact:col2">
            #if(UserHasPermission("blog.authors.get")):
                <a href="#($req.url.path)#(item.id)/">
                    <img class="s64 r:s" src="#(item.imageKey.resolve())" alt="#(item.name)">
                </a>
            #else:
                <img class="s64 r:s" src="#(item.imageKey.resolve())" alt="#(item.name)">
            #endif
        </td>

        <td class="td:left m:h:s td:compact:col2 td:compact:separator">
            #if(UserHasPermission("blog.authors.get")):
                <a href="#($req.url.path)#(item.id)/">#(item.name)</a>
            #else:
                #(item.name)
            #endif
        </td>

        #if(UserHasPermission("blog.author.links.list")):
        <td class="td:center">
            <a href="#($req.url.path)#(item.id)/links/">#svg("link-2")</a>
        </td>
        #endif

        #if((table.edit ?? true) && UserHasPermission(table.key + ".update")):
        <td class="td:center#if(actions < 2): td:compact:col2#endif">
            <a href="#($req.url.path)#(item.id)/update">#svg("edit-2")</a>
        </td>
        #endif

        #if((table.delete ?? true) && UserHasPermission(table.key + ".delete")):
        <td class="td:center#if(actions < 2): td:compact:col2#endif">
            <a href="#($req.url.path)#(item.id)/delete/">#svg("trash")</a>
        </td>
        #endif
    </tr>
    #endfor
#enddefine

#inline("Admin/BaseTable")
