#let(detail = [
    "title": "Author",
    "key": "blog.authors",
    "list": [
        "title": "Authors",
        "url": "/admin/blog/authors/"
    ],
    "nav": [],
    fields: [
        ["label": "Id", "value": model.id],
        ["label": "Image", "value": model.imageKey],
        ["label": "Name", "value": model.name],
        ["label": "Bio", "value": model.bio]
    ]
])

#if(UserHasPermission("blog.author.links.list")):
    #(detail.nav.append(["label": "Links", "link": "/admin/blog/authors/" + model.id + "/links/"]))
#endif


#inline("Admin/Detail")
