#let(head = [
    "title": author.name,
    "description": author.bio,
    "css": author.metadata.css,
    "js": author.metadata.js
])
#define(body):

<div id="author" class="container">
    <div class="margin">
        <header class="margin-bottom-xl">
            <img class="size border border-color-6 border-radius-full" src="#(author.imageKey.resolve() ?? "/images/placeholder.jpg")" alt="Picture of #(author.name)" title="#(author.name)">
            <h1 class="margin-top-zero">#(head.title)</h1>
            <p class="margin-top-zero">#(head.description)</p>
            #for(link in author.links):
            <a href="#(link.url)" target="_blank">#(link.label)</a> #if(!isLast): &middot; #endif
            #endfor
            <p><strong>#(posts.count()) post#if(posts.count() > 1):s#endif</strong></p>
        </header>

        <section class="grid-321 grid-gap">
            #for(post in posts):
                #let(size = 1)
                #inline("Blog/Frontend/SinglePost")
            #endfor
        </section>
    </div>
</div>

#enddefine
#inline("Frontend/Index")
