#let(head = [
    "title": $system.variables["blog.categories.page.title"],
    "description": $system.variables["blog.categories.page.description"],
    "css": metadata.css,
    "js": metadata.js
])

#define(body):
<div id="categories" class="container">
    <div class="margin">
        <header class="margin-bottom-xl">
            <h1>#(head.title)</h1>
            <p>#(head.description)</p>
        </header>

        <section>
            #for(category in categories):
            <div class="margin-bottom-xl background padding border-radius-xs shadow-xl">
                #if(category.imageKey != nil):
                <a href="/#(category.metadata.slug)">
                    <img class="size border-radius-xs border"#if(category.color != nil): style="border-color: #(category.color);"#endif src="#(category.imageKey.resolve())">
                </a>
                #endif
                <h2 class="margin-top-zero">
                    <a href="/#(category.metadata.slug)">#(category.title)</a>
                </h2>
                <p class="margin-top-zero">#(category.excerpt)</p>
            </div>
            #endfor
        </section>
    </div>
</div>
#enddefine
#inline("Frontend/Index")

