#let(head = [
    "title": category.title,
    "description": category.excerpt,
    "css": category.metadata.css,
    "js": category.metadata.js
])

#define(body):
<div id="category" class="container">
    <div class="margin">
        <header class="margin-bottom-xl">
            <img
                class="size border"#if(category.color != nil): style="border-color: #(category.color);"#endif
                src="#(category.imageKey.resolve() ?? "/images/placeholder.jpg")">
            <h1 class="margin-top-zero">#(head.title)</h1>
            <p class="margin-top-zero">#(head.description)</p>
            <p><strong>#(posts.count()) post#if(posts.count() > 1):s#endif</strong></p>
        </header>

        <section class="grid-321 grid-gap">
            #for(post in posts):
            #var(size = 1)
            #inline("Blog/Frontend/SinglePost")
            #endfor
        </section>
    </div>
</div>
#enddefine

#inline("Frontend/Index")
