#let(head = [
    "title": post.title,
    "description": post.excerpt,
    "css": post.metadata.css,
    "js": post.metadata.js
])
#define(body):

<article id="post">
    <div class="container">
        <header class="margin">
            <p>
                #for(category in post.categories):
                <span class="c:underline:accent"#if(category.color != nil): style="border-color: #(category.color);"#endif>#(category.title)</span>
                &middot;
                #endfor
                #let(dateString = Date(timeStamp: post.metadata.date, fixedFormat: $app.dateFormats.date, timeZone: $app.timezone))
                <time datetime="#(dateString)">#(dateString)</time>
            </p>
            <h1 class="margin-top-zero">#(post.title)</h1>
            <p class="margin-top-zero">#(post.excerpt)</p>
        </header>
    </div>

    <div class="margin">
        <img class="size-full border-radius-xs shadow-xl" src="#(post.imageKey.resolve() ?? "/images/placeholder.jpg")">
    </div>

    <div id="content">
        #(post.content)
    </div>

</article>

#if($variables.blogPostShareIsEnabled ?? false):
<div class="container">
    <section id="share" class="margin">
        <hr>
        <p>#($variables.blogPostShareLinkPrefix ?? "") <a href="https://twitter.com/intent/tweet?via=#($variables.blogPostShareAuthor ?? "")&hashtags=#($variables.blogPostShareHashtags ?? "")&url=#($app.baseUrl)#($req.url.path)" target="_blank">#($variables.blogPostShareLink ?? "Share on Twitter")</a> #($variables.blogPostShareLinkSuffix ?? "")</p>
    </section>
</div>
#endif

#if(($variables.blogPostAuthorBox ?? false) && !post.authors.isEmpty()):
    
<div class="container">
    <section class="margin">
        <h2 class="margin-bottom">Author#if(post.authors.count() > 1):s#endif</h2>
        #for(author in post.authors):
        <div class="background padding margin-bottom-xl border-radius-xs shadow-xl">
            <img class="size border border-color-6 border-radius-full" src="#(author.imageKey.resolve())" alt="Picture of #(author.name)" title="#(author.name)">
        
            <h3 class="margin-top-zero">#(author.name)</h3>
            <p class="margin-top-zero margin-bottom">#(author.bio)</p>
            #for(link in author.links):
            <a href="#(link.url)" target="_blank">#(link.label)</a> #if(!isLast): &middot; #endif
            #endfor
            </p>
        </div>
        #endfor
    </section>
    </div>

#endif

#($variables.blogPostFooter ?? "")



#enddefine

#inline("Frontend/Index")
