<a href="/#(post.metadata.slug)" class="card">
    #if(post.imageKey != nil):
    <img src="#(post.imageKey.resolve())">
    #endif
    
    <div class="content">
        <div class="text">
            <h2>#(post.title)</h2>
            <p>#(post.excerpt)</p>
        </div>

        <div class="meta">
            
            #let(dateString = Date(timeStamp: post.metadata.date, fixedFormat: $app.dateFormats.date, timeZone: $app.timezone))
            <time datetime="#(dateString)" class="date">#(dateString)</time>

            <div class="tags">
            #for(pc in post.categories ?? []):
                <span#if(pc.color != nil): style="color: #(pc.color);"#endif>#(pc.title)</span>#if(!isLast): &middot;#endif
            #endfor
            </div>
        </div>
    </div>
</a>
