#let(form = [
    "id": formId,
    "token": formToken,
    "key": "post",
    "modelId": modelId,
    "multipart": true,
    "list": [
        "title": "Posts",
        "url": "/admin/blog/posts/"
    ]
])

#define(toolbarLeftAfter):
    #if(metadata != nil):
    <a href="/#(metadata.slug)/" target="_blank">#svg("eye")</a>
    #endif
#enddefine

#define(toolbarRightBefore):
    #if(metadata != nil):
    <a href="/admin/frontend/metadatas/#(metadata.id)">#svg("feather")</a>
    #endif
#enddefine

#define(fields):
    #var(field = nil)

    #(field = ["id": "image", "class": "large", "data": fields.image, "required": true, "accept": "image/jpeg"])
    #inline("Admin/Fields/File")

    #(field = ["id": "title", "required": true, "data": fields.title])
    #inline("Admin/Fields/Text")

    #(field = ["id": "excerpt", "size": "s", "data": fields.excerpt])
    #inline("Admin/Fields/Textarea")

    #(field = ["id": "content", "size": "xl", "data": fields.content])
    #inline("Admin/Fields/Textarea")

    #(field = ["id": "categories", "data": fields.categories])
    #inline("Admin/Fields/Checkbox")

    #(field = ["id": "authors", "data": fields.authors])
    #inline("Admin/Fields/Checkbox")

#enddefine

#inline("Admin/Form")
