#let(authorId = Request(parameter: "id"))

#let(form = [
    "id": formId,
    "token": formToken,
    "title": "Link",
    "key": "blog.links",
    "modelId": modelId,
    "multipart": true,
    "list": [
        "title": "Links",
        "url": "/admin/authors/" + authorId + "/links/"
    ],
    "nav": []
])

#if(modelId != nil && UserHasPermission("blog.author.get")):
    #(form.nav.append(["label": "Author", "link": "/admin/blog/authors/" + authorId + "/"]))
#endif


#define(fields):
    <input type="hidden" name="authorId" value="#(authorId)">
    
    #var(field = nil)

    #(field = ["id": "label", "required": true, "data": fields.label])
    #inline("Admin/Fields/Text")

    #(field = ["id": "url", "required": true, "data": fields.url])
    #inline("Admin/Fields/Text")

    #(field = ["id": "priority", "required": true, "data": fields.priority])
    #inline("Admin/Fields/Text")

#enddefine

#inline("Admin/Form")
