#let(authorId = Request(parameter: "id"))

#let(detail = [
    "title": "Link",
    "key": "blog.author.links",
    "list": [
        "title": "Links",
        "url": "/admin/blog/authors/" + authorId + "/links/"
    ],
    fields: [
        ["label": "Id", "value": model.id],
        ["label": "Label", "value": model.label],
        ["label": "Url", "value": model.url],
        ["label": "Priority", "value": model.priority]
    ],
    "nav": []
])

#if(UserHasPermission("blog.author.get")):
    #(detail.nav.append(["label": "Author", "link": "/admin/blog/authors/" + authorId + "/"]))
#endif


#inline("Admin/Detail")
