#let(form = [
    "id": formId,
    "token": formToken,
    "title": "Category",
    "key": "blog.categories",
    "modelId": modelId,
    "multipart": true,
    "list": [
        "title": "Categories",
        "url": "/admin/blog/categories/"
    ],
    "nav": []
])

#if(metadata != nil):
    #(form.nav.append(["label": "Metadata", "link": "/admin/frontend/metadatas/" + metadata.id + "/update/"]))
#endif


#define(fields):
    #var(field = nil)

    #(field = ["id": "image", "class": "small", "data": fields.image, "accept": "image/*"])
    #inline("Common/Fields/File")

    #(field = ["id": "title", "required": true, "data": fields.title])
    #inline("Common/Fields/Text")

    #(field = ["id": "excerpt", "size": "s", "data": fields.excerpt])
    #inline("Common/Fields/Textarea")

    #(field = ["id": "color", "more": "e.g #cafe00", "data": fields.color])
    #inline("Common/Fields/Text")

    #(field = ["id": "priority", "required": true, "data": fields.priority])
    #inline("Common/Fields/Text")
#enddefine

#inline("Admin/Form")
