#let(detail = [
    "title": "Category",
    "key": "blog.categories",
    "list": [
        "title": "Categories",
        "url": "/admin/blog/categories/"
    ],
    fields: [
        ["label": "Id", "value": model.id],
        ["label": "Image", "value": model.imageKey],
        ["label": "Title", "value": model.title],
        ["label": "Excerpt", "value": model.excerpt],
        ["label": "Color", "value": model.color],
        ["label": "Priority", "value": model.priority]
    ]
])

#inline("Admin/Detail")
